@import url(normalize.min.css);
body {
  font-family: "PT Serif", Georgia, Times, "Times New Roman", "Songti SC", "Hiragino Mincho ProN", PMingLiU, serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f0f1ee;
  color: #333332;
}
body a {
  color: #1352a2;
  text-decoration: none;
}
body a:hover {
  color: #619fed;
}

.wrapper {
  width: 90%;
  margin: 0% 5%;
}

/* Theme Color */
.header-container,
.footer-container,
.main aside {
  background-color: #ffd464;
}

.header-container {
  border-bottom: 20px solid #1d75e4;
}

.footer-container,
.main aside {
  border-top: 20px solid #1d75e4;
}

.title {
  color: white;
}

/* Mobile Menu */
nav a {
  display: block;
  padding: 15px 0;
  text-align: center;
  font-weight: bold;
  color: white;
}
nav a:hover {
  text-decoration: none;
  font-size: 1.2em;
}

/* Mobile Main */
.main {
  padding: 30px 0px;
}

.main article h1 {
  font-size: 2em;
}

.main aside {
  color: white;
  padding: 0px 5% 10px;
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}

@media only screen and (min-width: 480px) {
  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 25px 2%;
    margin-bottom: 0px;
  }

  nav li:first-child a {
    margin-left: 0px;
  }
  nav li:last-child a {
    margin-right: 0px;
  }

  /* IE Fixes */
  nav ul li {
    display: inline;
  }

  .oldie nav a {
    margin: 0 0.7%;
  }
}
@media only screen and (min-width: 768px) {
  .header-container,
  .main aside {
    behavior: url('PIE.htc');
    position: relative;
    -webkit-box-shadow: 0 5px 10px #aaaaaa;
    -moz-box-shadow: 0 5px 10px #aaaaaa;
    box-shadow: 0 5px 10px #aaaaaa;
  }

  /* Wide Menu */
  .title {
    float: left;
  }

  nav {
    float: right;
    width: 38%;
  }

  /* Wide Main */
  .main article {
    float: left;
    width: 57%;
  }

  .main aside {
    float: right;
    width: 28%;
  }
}
@media only screen and (min-width: 1140px) {
  .wrapper {
    width: 1026px;
    margin: 0 auto;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
