@import url(vendor/normalize.min.css);
@import url(http:\/\/fonts.googleapis.com/css?family=Russo+One|Exo|Sanchez);
body {
  font-family: Georgia, Times, "Times New Roman", "Songti SC", "Hiragino Mincho ProN", PMingLiU, serif;
  font-size: 16px;
  line-height: 1.6;
  background-color: #f0f1ee;
  color: #333332;
}
body a {
  color: #1352a2;
  text-decoration: none;
}
body a:hover {
  color: #619fed;
}

.wrapper {
  width: 90%;
  margin: 0% 5%;
}

/* Theme Color */
.header-container,
.footer-container,
.main aside {
  background-color: #ffd464;
}

.header-container {
  border-bottom: 20px solid #1d75e4;
}

.footer-container,
.main aside {
  border-top: 20px solid #1d75e4;
}

.main-container {
  position: absolute;
  left: 50px;
}

.title {
  color: white;
}

/* Mobile Main */
.main {
  padding: 30px 0px;
}

.main article h1 {
  font-size: 2em;
}

.main aside {
  color: white;
  padding: 0px 5% 10px;
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}

.header-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
  overflow: hidden;
  cursor: default;
  color: #c8c8c8;
  background: #ffd464;
  overflow-x: hidden;
  overflow-y: auto;
}
.header-container nav ul {
  padding: 0;
  margin: 0;
}
.header-container nav li {
  border-bottom: 1px solid #ffe297;
  overflow: hidden;
}
.header-container nav li.breakspace {
  margin-top: 60px;
  border-top: 1px solid #ffe297;
}
.header-container nav a {
  display: block;
  width: 200px;
  padding: 15px 0px;
  color: white;
}
.header-container nav a:hover {
  text-decoration: none;
  -webkit-transition: all ease;
  -webkit-transition-delay: 0.28s;
  -moz-transition: all ease 0.28s;
  -o-transition: all ease 0.28s;
  transition: all ease 0.28s;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -ms-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  color: #619fed;
}
.header-container nav a span {
  margin-left: 20px;
}

/* Applying javascript to bind hover event */
.header-container.is-expanded {
  -webkit-transition: width ease-in-out;
  -webkit-transition-delay: 0.28s;
  -moz-transition: width ease-in-out 0.28s;
  -o-transition: width ease-in-out 0.28s;
  transition: width ease-in-out 0.28s;
  width: 200px;
}

.header-container {
  -webkit-transition: width ease-in-out;
  -webkit-transition-delay: 0.28s;
  -moz-transition: width ease-in-out 0.28s;
  -o-transition: width ease-in-out 0.28s;
  transition: width ease-in-out 0.28s;
}

.main-container.is-translated {
  -webkit-transition: all ease-in-out;
  -webkit-transition-delay: 0.28s;
  -moz-transition: all ease-in-out 0.28s;
  -o-transition: all ease-in-out 0.28s;
  transition: all ease-in-out 0.28s;
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
}

.main-container {
  -webkit-transition: all ease-in-out;
  -webkit-transition-delay: 0.28s;
  -moz-transition: all ease-in-out 0.28s;
  -o-transition: all ease-in-out 0.28s;
  transition: all ease-in-out 0.28s;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
