@import url(http:\/\/fonts.googleapis.com/css?family=Russo+One|Exo|Sanchez);
.main-container h1 {
  font-size: 300%;
  font-family: "Sanchez";
  color: #fb6964;
  margin: 15% 15% 0 0;
  line-height: 1.4;
}
.main-container img[alt="rawant"] {
  float: right;
  margin-right: -5%;
  margin-top: 3%;
}
.main-container h2 {
  font-size: 150%;
  margin-left: 63%;
  color: #1352a2;
}
