@import url(http:\/\/fonts.googleapis.com/css?family=Russo+One|Exo|Sanchez);
.main-container h1 {
  line-height: 1.4;
}
.main-container img[alt="rawant"] {
  float: right;
  margin-right: -5%;
  margin-top: 3%;
}
.main-container h2 {
  margin-left: 63%;
  font-family: "Russo One";
  color: #1352a2;
}
.main-container article {
  margin-top: 15%;
}
.main-container article img:hover {
  border: 3px solid #619fed;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all ease;
  -webkit-transition-delay: 0.28s;
  -moz-transition: all ease 0.28s;
  -o-transition: all ease 0.28s;
  transition: all ease 0.28s;
}
.main-container article h1 {
  margin-left: 0%;
}
.main-container article h3 {
  font-size: 200%;
  margint-top: 5%;
  margin-bottom: 0%;
}
