@import url(http:\/\/fonts.googleapis.com/css?family=Russo+One|Exo|Sanchez);
.main-container {
  width: 95%;
}
.main-container h1 {
  font-size: 300%;
  font-family: "Sanchez";
  color: #fb6964;
  margin: 1% 5% 2%;
  line-height: 1.4;
}
