@import partials/_base

/* Customized Setting in Exp.html for Timelinzr issue */
body
	// +BGPattern-blocker($background-color)

.main-container
	width: 95%
	h1
		font-size: 300%
		font-family: nth($ff_head, 3)
		color: $hot-color		
		line-height: $lh-head
		

/* jQuery TimeLinr Sass Modification */
$tldefault_width: 900px
$tldefault_height: 600px
$tldefault_issueheight: $tldefault_height - 150px

#timeline
	width: $tldefault_width
	// height: $tldefault_height
	overflow: hidden
	margin: 0 auto
	position: relative
	background: url('../img/dot.gif') left 61px repeat-x


#dates
	width: $tldefault_width
	height: 60px
	overflow: hidden

	li
		list-style: none
		float: left
		width: 130px
		height: 50px
		font-size: 24px
		text-align: center
		background: url('../img/biggerdot.png') center bottom no-repeat

	a
		font-family: nth($ff_head, 2)
		line-height: 38px
		padding-bottom: 10px

	.selected
		font-family: nth($ff_head, 1)
		color: $hot-color
		+transition(all ease-in-out 0.28s)
		font-size: 150%

#issues
	width: $tldefault_width
	// height: $tldefault_issueheight
	overflow: hidden
	
	
	li
		width: $tldefault_width
		// height: $tldefault_issueheight
		list-style: none
		float: left

		img
			float: left
			margin: 30px 40px 20px 50px			
			background: transparent
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)" /* IE 8 */   
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)/* IE 6 & 7 */      
			zoom: 1
			+transition(all 1s ease-in-out)
			+transform(scale(0.7,0.7))
				
		h2
			margin: 10px 0
			font-size: 250%
			color: $header-color
			font-family: nth($ff_head, 2)
			+text-shadow(darken($header-color, 30%) 1px 1px 2px)

		p
			font-size: 125%
			margin-top: 0
			float: left
			width: $tldefault_width - 466px
			font-family: nth($ff_head, 3)


	
	li.selected img
		+transform(scale(1.1,1.1))


#grad_left,
#grad_right
	width: 90px
	height: $tldefault_issueheight
	position: absolute
	top: 0

#grad_left
	left: 0
	+background(linear-gradient(left, rgba($background-color, 1), rgba($background-color, .8)))
	

#grad_right
	right: 1
	+background(linear-gradient(right, rgba($background-color, 1), rgba($background-color, .8)))
			
#next,
#prev
	position: absolute
	top: 0
	font-size: 70px
	top: 170px
	width: 22px
	height: 38px
	background-position: 0 0
	background-repeat: no-repeat
	text-indent: -9999px
	overflow: hidden

#next
	right: 0
	background-image: url('../img/next.png')
	background-position: 0 -76px

#prev
	left: 0
	background-image: url('../img/prev.png')
	background-position: 0 -76px

#next.disabled,
#prev.disabled
	opacity: 0.2
	



