@import partials/_base

.main-container
	h1
		font-size: 300%
		font-family: nth($ff_head, 3)
		color: $hot-color
		margin: 15% 15% 0 0
		line-height: $lh-head
		
	img[alt="rawant"]
		float: right
		margin-right: -5%
		margin-top: 3%

	h2
		font-size: 150%
		margin-left: 63%
		font-family: nth($ff_head, 1)
		color: $link-color

	article		
		margin-top: 20%
		
		h2
			font-size: 300%
			margin-left: 0%			
			font-family: nth($ff_head, 3)
			color: $hot-color

		section
			margin: 0 auto
			width: 50%


		h3
			font-size: 200%
			margint-top: 5%
			margin-bottom: 0%



			
	

