@import partials/_base

.main-container	
	h1		
		line-height: $lh-head
		
	img[alt="rawant"]
		float: right
		margin-right: -5%
		margin-top: 3%

	h2
		margin-left: 63%
		font-family: nth($ff_head, 1)
		color: $link-color

	article		
		margin-top: 15%
		

		img:hover
			border: 3px solid $link_hover-color
			+border-radius(5px)
			+transition(all ease 0.28s)

		h1
			margin-left: 0%			
			

		h3
			font-size: 200%
			margint-top: 5%
			margin-bottom: 0%



			
	

