@import partials/_base

.main-container
	width: 95%
	

	h1
		font-size: 300%
		font-family: nth($ff_head, 3)
		color: $hot-color
		// margin:  1% 5% 2%
		// line-height: $lh-head
	article
		font-size: 125%
		width: 70%
		margin: 0 auto

		section h2
			font-family: nth($ff_head, 3)
			color: $link-color
			margin-top: 2.5em
			margin-bottom: -0.5em

		header, footer
			padding: 1em 2em
			background-color: #FFF
			+border-radius(20px)

		h2
			font-family: nth($ff_head, 1)
			color: $hot-color
	img
		position: relative
		left: -160px
		top: -40px