@import partials/_base

body
	font-family: $ff_serif
	font-size: $font-size
	line-height: $line-height
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	
	background-color: $background-color	
	+BGPattern-blocker(lighten($background-color, 30%))

	color: $text-color
	a 
		color: $link-color
		text-decoration: none
		font-family: nth($ff_head, 2)
		&:hover
			color: $link_hover-color 
		

.wrapper
	width: 90%
	margin: 0% 5%

/* Theme Color */
.header-container,
.footer-container,
.main aside 
	background-color: $header-color

.header-container
	border-bottom: 20px solid lighten($link-color, 15%)

.footer-container,
.main aside
	border-top: 20px solid lighten($link-color, 15%)

.main-container
	position: absolute
	left: 50px


.title
	color: rgba(255,255,255,1)


/* Main header Font-setting */
.main-container	
	h1
		font-size: 325%
		font-family: nth($ff_head, 3)
		color: $hot-color
		line-height: $lh-head

/* Sidenav color setting */ 
.header-container
	i.fa-spin
		color: rgba(19,82,162,1)




